.card {
  height: fit-content;
  margin: 0.5em 0em;
  background-color: #F2F2F2;
  cursor: pointer;
  transition: all 0.3s ease;
  animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card:hover {
  transform: scale(1.01) translateY(-5px);
}

.imageWrapper {
  width: 100%;
  aspect-ratio: 4/3;
  position: relative;
  max-height: 300px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
 
}

.image {
  object-fit: cover;
}

.bodyWrapper {
  display: flex;
  flex-direction: column;
  padding: .75em .4em;
  width: 95%;
  margin: .5em auto;
}

.date {
  font-size: .9rem;
  text-transform: capitalize;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.categoryText {
  font-size: 1rem;
  margin: 6px 0px;
  font-weight: 500;
  text-transform: capitalize;
  color: #242540;
  text-decoration: underline;
}

.categorySampleText {
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  /* text-align: justify; */
  -webkit-line-clamp: 2;
  margin: 4px 0px;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.more {
  /* text-decoration: none; */
  font-size: 14px;
  text-transform: uppercase;
  color: blue;
  font-weight: 600;
  margin-top: 4px;
}

@media screen and (min-width: 481px) {
  .imageWrapper {
    aspect-ratio: 6/3;
  }
}

/* @media screen and (min-width: 481px) {
  .imageWrapper {
    aspect-ratio: 6/3;
  }
} */